body{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* NAVIATION BAR */
.navigation {
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: rgba(18,18,18,.9);
  border-bottom: 1px solid rgba(230,230,230,0.8);
  width: 100%;
  z-index: 5000;
  bottom: -5px;
}

ul {
  position: relative;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  margin: 0;
  color: white;
}

img#logo{
  height: 42px;
  width: auto;
  margin-left: 10px;
  margin-top: 7px;
}

#separation{
  font-size: 40px;
  margin-left: 20px;
}

.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
}

#linkedin{
  position: relative;
  height: 35px;
  margin-left: 10px;
  margin-top: -5px;
}

#github, #gmail{
  position: relative;
  height: 35px;
  margin-top: -5px;
}

#home{
  padding-right: 40px;
  padding-left: 30px;
}

/* SECTION ONE */
.section-one{
  /*background-color: rgb(99, 199, 255);*/
  background-image: url("./images/pixel-forest.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /*background-image: url(./images/newyork-bridge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
}


.container{
  width: 100%;
  height: 100%;
  padding: 0;
}

img#sun{
  position: absolute;
  top: 3%;
  width: 25%;
}

img#pixel-me{
  position: absolute;
  width: auto;
  height: 35%;
  right: 10%;
  bottom: 48px;
  z-index: 7000;
}

img#post1{
  position: absolute;
  display: inline-block;
  left: 10%;
  width: 25%;
  bottom: 55px;
  z-index: 7000;
}

img#post2{
  position: absolute;
  display: inline-block;
  left: 40%;
  width: 25%;
  bottom: 55px;
  z-index: 7000;
}



